.navbar-brand {
    height: 80px;
    @media screen and (max-width: 500px) {
        height: 40px;
    }
}

.spc-logo {
    img {
        width: 200px;
        @media screen and (max-width: 500px) {
            width: 100px;
        }
    }
}