.card-primary-box{
  //width: 233px;
  //height: 272px;
  //border: solid 2px red;
  margin: auto;
  display: flex;
  flex-direction: column;
  //padding: 30px 100px;
  .card-primary-content{
    margin: auto;
    align-items: center;
    padding-top: 20px;
  }
  .primary-box-img{
    //background-color: #333;
    width: 140px;
    height: 140px;
    margin-bottom: 20px;
    img{
      width: 100%;
      height: 100%;
      border-radius: 50%;
      //background-color: rgb(181, 181, 181);
    }
  }
}
//Plans & Pricing 
.card-second-box{
  //width: 233px;
  //height: 272px;
  //border: solid 2px red;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  //padding: 30px 100px;
  :hover,:active{
    transform: scale(1.05, 1.05);
    .card-second-border{
      box-shadow: 0 0 0.5em $white;
      border: solid 2px $hks-blue-600;
    }
  }
  .card-second-content{
    //align-items: center;
    width: 100%;
    margin-top: 20px;
  }
  .card-second-border{
    border: solid 1px $white;
    box-shadow: 0 0 0.5em rgb(138, 138, 138);
    padding: 20px;
    border-radius: 10px;
  }
}
//User are viewing
.class-card{
  .card-img-top{
    height: 200px;
    object-fit: cover;
  }
}
//
.contact-box{
  width: 400px;
  iframe{
    width: 100%;
  }
}
.card-job{
  border-radius: 2px 40px 2px 2px;
  box-shadow: 0 0 0.5em rgb(138, 138, 138);
  padding: 20px;
}